p {
    margin-right: 23vw;
    margin-left: 23vw;
}
body{
    min-height: 97vh;
    background-size: 100% 110%;
    background-color: #061443;
    
}

.header {
    height: 25px;
    text-align: center;
    padding: 30px;
}
.centerTxt {
    text-align: center;
    color: white;
    font-size: 25px;
}
.header * {
    display: inline;
}
.header li a {
    margin: 30px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.references {
    text-indent: -45px;
    padding-left: 45px;
    text-align: center;
    color: white;
    line-height: 2;
