p {
    margin-right: 15vw;
    margin-left: 15vw;
}
body{
    min-height: 100vh;
    background: linear-gradient(#80d0c7, #13547a);

}
.header {
    height: 60px;
    text-align: right;
    padding: 15px;
}
.centerTxt {
    text-align: center;
}
.header * {
    display: inline;
}
.header li a {
    margin: 25px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
